/* Below is the general CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
    font-size: 25px;
}

li{
    list-style: none;
}

ul{
    display: flex;
    gap: 30px;
}

/* Bgelow is every CSS for the Header */
.header{
    background-color: #FFF2CC;
    padding:40px 200px;
}

.title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.title > h1{
    font-size: 60px;
    color: #DFA67B;
    align-self: center;
}
.logo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.puppies{
    width: 300px;
    height: 300px;
    border-radius: 5%;
}

.info{
    color: #F4B183 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
}

.information{
    flex-basis: 600px;
}

.information > h2{
    font-size: 48px;
}

.information > p{
    font-size: 30px;
}

/* Below this is every CSS for */

.content{
    padding: 40px 0;
    display: flex;
    justify-content: space-evenly;
    background-color: #FFD966;
}

.content > div{
    flex-basis: 400px;
}

.content > div > img{
    width: 400px;
    height: 300px;
    border-radius: 20%;
    margin-bottom: 10px;
}

.content > div > p{
    font-size: 25px;
    color: #DFA67B;
}