/* Below is the general CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
    font-size: 25px;
}

li{
    list-style: none;
}

ul{
    display: flex;
    gap: 30px;
}

/* Bgelow is every CSS for the Header */
.header{
    background-color: #FFF2CC;
    padding:40px 200px;
}

.title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.title > h1{
    font-size: 60px;
    color: #DFA67B;
    align-self: center;
}
.logo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.puppies{
    width: 300px;
    height: 300px;
    border-radius: 5%;
}

.info{
    color: #F4B183 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
}

.information{
    flex-basis: 600px;
}

.information > h2{
    font-size: 48px;
}

.information > p{
    font-size: 30px;
}

/* Below this is every CSS for content */

.content{
    padding: 80px 0;
    display: flex;
    justify-content: space-evenly;
    background-color: #FFD966;
}

.content > div{
    flex-basis: 400px;
}

.content > div > img{
    width: 400px;
    height: 300px;
    border-radius: 20%;
    margin-bottom: 10px;
}

.content > div > p{
    font-size: 25px;
    color: #DFA67B;
}

/* Below this is every CSS for quote */

.quote{
    display: flex;
    padding: 200px 0;
    justify-content: center;
    align-items: center;
    background-color: #FFF2CC;
}

.quote > p{
    color: #F4B183;
    font-size: 30px;
    flex-basis: 800px;
    font-style: italic;
}

/* Below this is everything for sign-up */

.sign-up{
    background-color: #FFD966;
    padding: 200px 0;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.sign-box{
    background-color: #FFF2CC;
    padding: 30px;
    border: 1px solid white;
    border-radius: 4%;
    width: 700px;
    display: flex;
}

.sign-text{
    flex-basis: 400px;
    margin-right: auto;
    color: #DFA67B;
}

.sign-text > h3{
    font-size: 30px;
}

.sign-text > p{
    font-size: 20px;
}

button{
    background-color: #DFA67B;
    border: 1px solid black;
    border-radius: 20%;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
}